.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.btn-regular{
    background-color: gold;
    width: 150px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.icon-color{
    color: gold;
}